extends layout/layout
block content
	.about.hero-unit
		.row-fluid(style='text-align:center')
			h1.span12 Please&nbsp;
				a(href='/') vote
				| &nbsp;& help me get an iPad
			h2.span12 My name is Austin... Just you're "average" developer writing amazing nodeJS apps. This one is
				| running on nodeJS, using socket.io for live data streaming from server, with passport Facebook &
				| Twitter authentication. If you stay on the
				a(href='/') home page
				| you can watch the votes coming in live! At the bottom of the screen you can see the current number
				| of users online and the number of page views, which both also update live using socket.io.