extends layout/layout
block content
	.about.hero-unit
		.row-fluid(style='text-align:center')
			h1.span12 Please&nbsp;
				a(href='/') vote
				| &nbsp;& help me get an iPad
			h2.span12 My name is Austin... Just you're "average" developer writing amazing nodeJS apps. This one has
				| the new hottness socket.io running too!!