extends layout/layout

block content
	- var maxVotes = 0, totalVotes = 0;
	each beer in beers
		- totalVotes += parseInt(beer.votes);
		if (beer.votes > maxVotes)
			- maxVotes = beer.votes;
	.well
		#online-status.well ...Initializing connection to get global voting udpates...
		if !(req.session.passport && req.session.passport.user)
			#vote-status.well Not authorized to vote, please log in with:&nbsp
				a(href="/auth/facebook") Facebook
		else
			//-TODO: Show already voted message
			#vote-status.well Waiting on server connection to enable voting

		#vote-message.well.hide

		form.form-horizontal
			legend Vote your beer of choice for Rackspace/AppFog Happy Hour January 2013:
			each beer in beers
				.control-group
					label.control-label.beer-btn-width: button.btn.beer-btn(data-name=beer.name)= beer.name
					.controls.votes-style: span.votes Votes:
						span.vote-num(class=beer.name.replace(/ /g, '').toLowerCase()) #{beer.votes}
						.progress
							.bar(style='width:' + (beer.votes/maxVotes*100) + '%')
			.control-group
				.control-label
				.controls.votes-style
					h3 Total Votes:&nbsp;
						span#total-votes= totalVotes
