.navbar.navbar-fixed-bottom.footer
	.navbar-inner.row
		.span4
		.span4
			| &copy;&nbsp;
			a(href='http://www.linkedin.com/pub/austin-floyd/28/61b/295', target='_blank') Austin Floyd
			| &nbsp;2013 |&nbsp;
			a(href='\about') About
		.counter.pull-right Users online:&nbsp;
			span#users-online ?
			| &nbsp| Views:&nbsp;
			span#page-views= views