.navbar.navbar-fixed-bottom.footer
	.navbar-inner.row
		.span4
		.span4
			| &copy; Austin Floyd 2013 |&nbsp;
			a(href='\about') About
		.counter.pull-right Users online:&nbsp;
			span#users-online ?
			| &nbsp| Views:&nbsp;
			span#page-views= views
//- addThis sharing
script(type="text/javascript")
	var addthis_config = {"data_track_clickback":true};
script(type="text/javascript", src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5105bf877a3ed48d")

//- Google Analytics
script(type="text/javascript")
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-38176494-1']);
	_gaq.push(['_trackPageview']);

	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();